<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>            
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>   
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/praiseyo_management?autoReconnect=true&amp;useUnicode=true&amp;createDatabaseIfNotExist=true&amp;characterEncoding=utf-8</property>
		<property name="hibernate.connection.username">praiseyo_root</property>
		<property name="hibernate.connection.password">pd1RfjbqISt/il7TacFvFQ==</property>     
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="hibernate.connection.CharSet">utf8</property>
		<property name="hibernate.connection.characterEncoding">utf8</property>
		<property name="hibernate.connection.useUnicode">true</property>		        
        <mapping class="com.pradheep.dao.model.ContactUs" />
        <mapping class="com.pradheep.dao.model.Subscription" />
        <mapping class="com.pradheep.dao.model.VisitCounter" />
        <mapping class="com.pradheep.dao.model.BibleVerse" />
        <mapping class="com.pradheep.dao.model.DailyVerseEntry" />
        <mapping class="com.pradheep.dao.model.DidYouKnow" />
        <mapping class="com.pradheep.dao.model.Category" />
        <mapping class="com.pradheep.dao.model.CategoryPathLink" />
        <mapping class="com.pradheep.dao.model.AllCategoryAndPath" />
        <mapping class="com.pradheep.dao.model.PermissionType" />
        <mapping class="com.pradheep.dao.model.UserPermission" />
        <mapping class="com.pradheep.dao.model.UserType" />
        <mapping class="com.pradheep.dao.model.Message" />
        <mapping class="com.pradheep.dao.model.PrayersModel" />
        <mapping class="com.pradheep.dao.model.DailySMSLogger" />
        <mapping class="com.pradheep.dao.model.BibleQuizEng" />
    </session-factory>
</hibernate-configuration>
